.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__link-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link, 
.header__link_active,
.address__link {
    text-underline-position: under;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    display: block;
    min-width: 135px;
    min-height: 110px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start;
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    min-width: 1100px;
    min-height: 756px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: -1;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: start;
    padding-top: 165px;
    padding-left: 50px;
}

.aligned-text_center {
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.cover__description {
    display: grid;
    grid-template-columns: 700px 1fr;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px; /* в макете указано такое же значение, я проверила 0-0 */
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 117px;
    padding-left: 52px;
    word-spacing: 18px;
}

.bet__button {
    justify-self: center;
    align-self: end;
    margin-left: 43px;
    margin-bottom: -10px;
    min-width: 256px;
    min-height: 51px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 65px;
}   

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 47px;
    height: 100%;
    width: 334px;
    min-height: 596px;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 27px;
    gap: 25px;
}

.lots__card-list-item {
    list-style: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__link {
    text-decoration: none;
}    

.card__title {
    font-size: 22px;
    width: 254px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px; 
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    color: white;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
    width: 254px;
    padding-bottom: 48px;
}

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    margin: 8px 65px;
    padding-top: 21px;
    text-decoration: underline solid 1px;
    text-underline-position: under;
}

.about {
    width: 1052px;
    padding-top: 149px;
    padding-bottom: 35px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    align-content: center;
    margin-left: 49px;

}

.about__text {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    margin-left: 49px;
    padding-top: 6px;
    width: 693px;
    gap: 24px;
}

.about__text-item {
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 146px;
    min-width: 1100px;
}

.address__footer {
    justify-self: start;
    padding-left: 50px;
    max-width: 300px; /* когда убираю макс значение оно переносится не как в макете */
}

.footer__menu-list {
    list-style: none;
    justify-content: center;
    font-size: 18px;
    text-underline-offset: 4px; 
}

.footer__menu-list-item {
    grid-column-start: 2;
    justify-self: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;
    padding-left: 30px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}