/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__link-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link, 
.header__link_active {
    text-underline-position: under;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    display: block;
    min-width: 135px;
    min-height: 110px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start;
    max-width: 240px;
    font-style: normal;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    min-width: 1100px;
    min-height: 756px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: -1;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    display: block;
    text-align: start;
    padding-top: 165px;
    padding-left: 50px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.cover__description {
    width: 1000px;
    height: 51px;
    top: 656px;
    left: 50px;
}

.cover__description-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 119px;
    padding-left: 52px;
    word-spacing: 18px;
}

.bet__button {
    position: relative;
    left: 794px;
    bottom: 40px;
    min-width: 256px;
    min-height: 51px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.lots {
    width: 1,052px;
    min-height: 723px;
    margin-top: 180px;
}

.lots__heading {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 65px;
}   

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 47px;
    height: 100%;
    width: 334px;
    min-height: 596px;
    z-index: 0;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 27px;
    gap: 25px;
}

.lots__card-list-item {
    list-style: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card__link {
    height: 100%;
    text-decoration: none;
}    

.card__title {
    font-size: 22px;
    width: 254px;
    text-transform: uppercase;
    text-decoration: underline solid white 1px;
    text-underline-position: under;
    color: white;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
    min-height: 144px;
    width: 254px;
    padding-bottom: 48px;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin: 30px 65px;
    text-decoration: underline solid 1px;
    text-underline-position: under;
}

.about {
    width: 1052px;
    min-height: 595px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    place-items: center;
}

.about__logo-image {
    width: 141px;
    height: 112px;
    
}

.footer {

}